
<app-navbar></app-navbar>

<div class="sm:mx-auto sm:w-full sm:max-w-sm mt-10">
    <img class="mx-auto h-20 w-20" src="/assets/logo.jpg" alt="logo">
    <h2 class="mt-10 text-center text-xl/9 font-bold tracking-tight ">Sign in to your account</h2>
  </div>
  
<form class="max-w-sm mx-auto">
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
      <input type="email" [(ngModel)]="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="name@gmail.com" required />
    </div>
    <div class="">
      <label for="password" class="block  text-sm font-medium text-gray-900 dark:text-white">password</label>
      <input type="password" [(ngModel)]="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" required />
    </div>
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    <div class="flex items-start my-5">
        <a (click)="navigateToRegister()" >
            <p class="ms-2 text-sm font-medium text-green-600 hover:underline dark:text-green-500">You don't have an account ?</p>
        </a>
  
    </div>
    <button (click)="login()" type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Submit</button>
  </form>
  