<app-sidebare></app-sidebare>
<div *ngFor="let collection of collections"  class="flex  flex-wrap gap-4 p-10 md:px-20 ml-50 mt-10">
    <div class="w-[30%] bg-white rounded-xl shadow-md overflow-hidden">
        <div class="relative ">
            <img class="w-full h-48 object-cover" src="https://via.placeholder.com/600x360">
            <div class="absolute top-0 right-0 bg-green-500 text-white font-bold px-2 py-1 m-2 rounded-md">Reseve collection
            </div>
            <div class="absolute bottom-0 right-0 bg-gray-800 text-white px-2 py-1 m-2 rounded-md text-xs">3 min read
            </div>
        </div>
        <div class="p-4">
            <div class="text-lg font-medium text-gray-800 mb-2">{{ collection.wasteType }}</div>
            <p class="text-gray-500 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, mi sed
                egestas tincidunt, libero dolor bibendum nisl, non aliquam quam massa id lacus.</p>
        </div>
    </div>
    
</div>




