<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      
      <label>Email:</label>
      <input formControlName="email" type="email" required />
      
      <label>Password:</label>
      <input formControlName="password" type="password" required />
      
      <label>First Name:</label>
      <input formControlName="firstName" type="text" required />
      
      <label>Last Name:</label>
      <input formControlName="lastName" type="text" required />
      
      <label>Address:</label>
      <input formControlName="address" type="text" required />
      
      <label>Phone:</label>
      <input formControlName="phone" type="text" required />
      
      <label>Birth Date:</label>
      <input formControlName="birthDate" type="date" required />
      
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
  